* {
    font-family: 'Satoshi-Regular', var(--ion-font-family, inherit) !important;
    font-optical-sizing: auto;
    color: rgba(0, 0, 0, .75);
}

.inner-scroll {
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
}

ion-list,
form {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;
}

ion-list {
    padding: 0 1rem !important;
}

ion-item {
    --inner-padding-start: 0px !important;
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
    --padding-end: 0px !important;
    /* margin: .5rem 0 !important; */
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: .5rem;
    padding: .5rem 1rem;
}